<%- include("partials/header"); -%>
    </form>
    </div>
    </div>
    <div class="col col-lg-6 col-md-6">
        <div class="right">
            <p class="failure-msg">Please enter a valid city name.</p>
        </div>
    </div>
    </div>
    </body>

    </html>